<app-header/>
<main>
    <ul id="users" >
    <!-- @for (user of users; track user.id) { -->
        <li *ngFor="let user of users">
            <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)"></app-user>
        </li>
    <!-- } -->
    </ul>

    <!-- @if (selectedUser){ -->
    <app-tasks *ngIf="selectedUser, else fallback" [user]="selectedUser"></app-tasks>
    <!-- } @else { -->
      <ng-template #fallback>
        <p id="fallback">Select a User to see their task</p>
      </ng-template>
        
    <!-- } -->

</main>